/* Home.module.css */
.container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    color: #31473A;
    font-weight: bold;
  }
  
  .button {
    background-color: #31473A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #2a3d32;
  }
  