.auth__body {
    font-family: Arial, sans-serif;
    background-color: #EDF4F2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.auth__h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: large;
}

.auth__formGroup {
    margin-bottom: 15px;
    text-align: left;
}

.auth__formLabel {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.auth__formGroupSelect{
    width: 50%;  
    height: 40px; 
    font-size: 14px; 
    border-radius: 10px;
    border: 1px solid #ccc;
}

.auth__input[type="text"],
.auth__input[type="email"],
.auth__input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.auth__passwordContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.auth__input {
    flex: 1;
    padding-right: 40px; /* Space for the toggle button */
}

/* Toggle button for password visibility */
.auth__toggleButton {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
}

.auth__toggleButton:hover {
    color: #31473A;
}

.auth__button {
    background-color: #31473A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.auth__button:hover {
    background-color: #3F5C4A;
}

.auth__p {
    margin-top: 10px;
    font-size: 14px;
}

.auth__a {
    color: #A9B97F ;
    text-decoration: none;
}

.auth__a:hover {
    text-decoration: underline;
}
